{% extends 'tickets/dashboard_base.html' %}
{% block title %}پنل مدیر IT{% endblock %}
{% block content %}
{{ block.super }}

<!-- درخواست‌های جدید از کاربر -->
<div class="card p-3 shadow-sm mt-4">
    <h5 class="fw-bold mb-3 text-primary">📥 درخواست‌های جدید (کاربر)</h5>
    {% include 'tickets/_manager_table.html' with tickets=new_from_user experts=experts %}
</div>

<!-- درخواست‌های برگشتی از کارشناس -->
<div class="card p-3 shadow-sm mt-4">
    <h5 class="fw-bold mb-3 text-warning">↩ درخواست‌های برگشتی از کارشناس</h5>
    {% include 'tickets/_manager_table.html' with tickets=returned_from_expert experts=experts %}
</div>

<!-- درخواست‌های در حال انجام -->
<div class="card p-3 shadow-sm mt-4">
    <h5 class="fw-bold mb-3">🔄 درخواست‌های در حال انجام</h5>
    {% include 'tickets/_manager_table.html' with tickets=in_progress experts=experts %}
</div>

<!-- درخواست‌های انجام شده -->
<div class="card p-3 shadow-sm mt-4">
    <h5 class="fw-bold mb-3 text-success">✅ درخواست‌های تمام‌شده</h5>
    {% include 'tickets/_manager_table.html' with tickets=done_tickets experts=experts %}
</div>


<script>
function refreshManagerTables(){
    fetch("{% url 'manager_dashboard_table' %}")
    .then(response => response.json())
    .then(data => {
        document.getElementById("active-tickets-table").innerHTML = data.html_active;
        document.getElementById("done-tickets-table").innerHTML = data.html_done;
    });
}
setInterval(refreshManagerTables, 60000);
</script>
{% endblock %}